{% extends 'base.html' %}

{% block title %}Info{% endblock %}

{% block content %}
<div class="info_t">
<h1> Internships Information </h1>
</div>
<div class="info_b">
<p>Students are pursuing two (02) to five (05) months (full-time), depending on what is specified by the study guide of the respective department, in subjects relevant to the subject of their studies. The course of the Internship is supervised by their teacher.</p>

<p>At the beginning of the internship, an internship contract is concluded between the institution and the University with the aim of formally and substantially guaranteeing all participants in the program, while at the end giving the intern a certificate of internship.</p>

<p>During the Internship, students are paid and insured against the risk of an accident by the University.</p>

<p>The Hosts undertake to receive and train the students, ensuring a suitable working environment and conditions and appointing a supervisor responsible for the proper conduct of the Internship. The supervisor also undertakes to sign the prerogatives and the Internship Certificate.</p>
</div>

<style type="text/css">
	h1 {
  text-align: center;
	}

	p {
		 text-align: justify;
	}

	.info_t {
		background-color: #cbcbcb;
		
	}
	.info_b {
		background-color: #dddddd;
	}
</style>



{% endblock %}