{% extends 'base.html' %}
​
 
​
​
{% block content %}

<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #DAA520;
  color: white;
}
</style>
​{% if data %}
​	<h1>Your accepted positions</h1>
	<div class="table">
    <table >
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Position</th>
					
					</tr>
				</thead>
	<tbody>
   {%for item in data%}
   
   <tr>
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.category}}</td>
        <!-- <td>
        	<a type="submit" href="{% url 'view_students' %}">See Applied Students</a>
         </td> -->
   </tr>
​
​
​
    {% endfor %}
</tbody>
</table>
  </div>
​
  <div>
	<h1>Show applied students for a possition</h1>
​
		<form  class = "form" method="post" action="view_students">
			<label for="PosId">Position:</label>
			<input type="text" name="PosId" id="PosId" placeholder="e.g 1">
			<br>
			<button type="submit">Submit</button>
		</form>
	</div>
  
  {% else %}
	 <h1>Sorry no positions available</h1>
	{% endif %}	
   
​
{% endblock %}