{% extends 'base.html' %}

{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}


{% block title %}Login{% endblock %}

{% block content %}

<h2> Fill the Login form </h2>
<form method="post" class="form">
  {% csrf_token %}
  <!-- {% bootstrap_form form %} -->
  {{ form.as_p }}
  {% buttons %}
  <br><button type="submit" class="button">Login</button>
  {% endbuttons %}
</form>

<style type="text/css">
form {
 width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
</style>


{% endblock %}

